In [1]:
lis = [1, 3, 5, 8, 5, 9, 5]
while 5 in lis: 
    lis.remove(5)
print(lis)

[1, 3, 8, 9]

In [2]:
l1 = ['hello', 'world']
result_str = ' '.join(l1) 
print(result_str)

hello world

In [3]:
l2 = [1, 3, 5, 8, 5, 9, 5]
l2.reverse() 
print(l2)

[5, 9, 5, 8, 5, 3, 1]

In [4]:
l3 = [1, 3, 5, 8, 5, 9, 5]
l3.sort(reverse=True) 
print(l3)

[9, 8, 5, 5, 5, 3, 1]

In [5]:
lis1 = [1, 3, 5, 8, 5, 9, 5]
lis2 = [9, 8, 5, 5, 5, 3, 1]
lis3 = list(set(lis1) | set(lis2))
print(lis3)

[1, 3, 5, 8, 9]

In [6]:
t = (1, 5, 8, 6, 3)
list1 = list(t)
list1 = list1[1:-1] 
print(list1)

[5, 8, 6]

In [7]:
t_lst = [(1, 'a'), (2, 'b'), (3, 'c')]
final_lis = [x[0] for x in t_lst]  
print(final_lis)

[1, 2, 3]

In [8]:
t1 = (1, 5, 8, 9)
t2 = (6, 8, 9, 6)
t3 = t1 + t2  
print(t3)

(1, 5, 8, 9, 6, 8, 9, 6)

In [9]:
t4 = (5, 8, 89, 12, 20)
max_val = max(t4) 
min_val = min(t4)
print("Maximum number from tuple t4 =", max_val)
print("Minimum number from tuple t4 =", min_val)

Maximum number from tuple t4 = 89
Minimum number from tuple t4 = 5

In [10]:
t5 = ("SGVU", "JAIPUR", "JAGATPURA")
T6 = ', '.join(t5)  
print(T6)

SGVU, JAIPUR, JAGATPURA

In [11]:
s1 = {1, 2, 5, 6}
s2 = {5, 9, 2, 8}
s3 = s1 | s2 
print(s3)

{1, 2, 5, 6, 8, 9}

In [12]:
s4 = s1 & s2  
print(s4)

{2, 5}

In [13]:
s1 = {1, 2, 5, 6}
s1.difference_update(s2)
print(s1)

{1, 6}

In [14]:
s6 = s1 - s2 
print(s6)

{1, 6}

In [15]:
lis11 = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(lis11))  
print(unique_list)

[1, 2, 3, 4, 5]

In [17]:
dic4 = list(dic3.values())  
print(dic4)

NameError: name 'dic3' is not defined